<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <form id="registrerUtstyr" method="post" action="/registrerUtstyr">
        <h1>Registrer nytt utstyr</h1><br><br>

        <label for="utstyrNavn">Navn</label><br>
        <input id="utstyrNavn" name="utstyrNavn" placeholder="Navn på utstyr"><br><br>

        <label for="utstyrType"></label><br>
        <select name="utstyrType">
            {{#each utstyrType}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select><br><br>
        <input type="submit" value="Legg til">
    </form>



    <form id="registrerUtstyrType" method="post" action="/registrerUtstyrType">
        <h1>Registrer en ny type utstyr</h1><br><br>

        <label for="TypeNavn">Navn</label><br>
        <input type="text" name="TypeNavn" placeholder="navn"><br><br>

         <label for="BildePath">Bilde Path</label><br>
        <input type="text" name="BildePath" placeholder="/images/example.png"><br>
    
        
         <label for="beskrivelse">Bilde Path</label><br>
        <textarea name="beskrivelse" form="registrerUtstyrType" id="" cols="30" rows="10" placeholder="Beskrivelse"></textarea><br><br>
        <input type="submit" value="Legg til">
    </form>

    {{#each user}}
        <div>
            <h1>{{this.username}}</h1>
            <h4>Tillgengsnivå</h4>
            <select>
                <option value="1">Elev</option>
                <option value="2">Lærer</option>
                <option value="3">Administrator</option>
            </select>
        </div>
    {{/each}}

    {{#each device}}
        <div>
            <h1>{{this.Name}}</h1>
            <h3>{{this.name}}</h3>
            <p>usvarte forespørsler: <div>{{this.unaprovedreservations}}</div></p>
        </div>
    {{/each}}
</body>
</html>