<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>device</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="gridlayout">
    <a href="/admin">back</a>
    <h1>{{Device.Name}}</h1><br>
    <h4>{{Type.name}}</h4><br>
    <img src="{{Type.imagePath}}" alt=""><br>
    <p>{{Type.beskrivelse}}</p>
    
    {{#each resvastion}}
       <h3>{{this.name}}</h3>
        <p>{{this.startTime}} - {{this.endTime}}</p>
    {{/each}}


    {{#each resrvastionReq}}
        <h3>{{this.name}}</h3>
        <p>{{this.startTime}} - {{this.endTime}}</p>
        <a href="/ApproveReservastion?id=this.id"><button>Approve</button></a>
    {{/each}}
    </div>
</body>
</html>