<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>device</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!--<div class="gridlayout">-->
        <a href="/admin">back</a>
        <h1>{{Device.Name}}</h1><br>
        <h4>{{Type.name}}</h4><br>
        <img src="{{Type.imagePath}}" alt=""><br>
        <p>{{Type.beskrivelse}}</p><br><br>
        
        <h2>Future reservations:</h2>
        {{#each resvastion}}
            <p>{{this.startTime}} - {{this.endTime}}</p><br><br>
        {{/each}}
        <br><br>
        <button>Request new reservation</button>
    <div>
    </div>
</body>
</html>